{% extends 'base.html'%}
{% block content %}
<h1>The Post</h1>

<ul>
{% for post in object_list %}
    <li>
        <a href="{% url 'detail' post.pk %}">{{post.title}}</a> - {{post.author.first_name}}<br>
        {{post.slug}} <br>
        {{post.author.last_name}}<br>
        {{post.updated_on}} <br>
        {{post.content}}  <br> <a href="{% url 'update_post' post.pk %}"><button>Edit</button></a>| <a href="{% url 'delete_post' post.pk %}"><button>Delete</button></a><br>
        {{post.created_on}} <br>
        {{post.status}} <br>
    </li>
{% endfor %}
</ul>

{% endblock %}
